.form__button {
  position: relative;
  padding: 1.3rem 4.7rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: #6C0287;
  border: none;
  border-radius: 1rem;
  transition: color .2s linear;
  z-index: 10;
}

.form__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color-white);
  filter: blur(1rem);
  transition: background-color .2s linear;
  z-index: -100;
}

.form__button:hover:before {
  background-color: #840AA3;
}

.form__button:focus:before {
  background-color:  #840AA3;
}

.form__button:active:before {
  background-color: #640AA3;
}

.form__button:hover {
  color: var(--color-white);
}

.form__button:focus {
  color: var(--color-white);
}

.form__button:active {
  color: var(--color-white);
}

@media (max-width: 1200px) {
  .form__button {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 800px) {
  .form__button {
    padding: 1.6rem 5rem;
  }
}

@media (max-width: 480px) {
  .form__button {
    width: 100%;
    padding: 1.7rem 5.9rem;
    line-height: 2.6rem;
    border-radius: 0.4rem;
  }
}
