.menu__button-image {
  fill: #6C0287;
  transition: fill .2s linear;
  object-fit: cover;
}

.menu__button-image:hover {
  fill: #CD06FF;
}

.menu__button-image:focus {
  fill: #840AA3;
}

.menu__button-image:active {
  fill: #840AA3;
}
