.features__item_bg_movies {
  background-image: url('../../../../../assets/img/features-movies.jpg');
}

@media (max-width: 1200px) {
  .features__item_bg_movies {
    padding: 8.3rem 2rem 0;
  }
}

@media (max-width: 800px) {
  .features__item_bg_movies {
    padding: 13.2rem 3rem 0;
  }
}

@media (max-width: 480px) {
  .features__item_bg_movies {
    padding: 3rem 1rem 0;
  }
}
