.menu__button {
  display: none;
}

@media (max-width: 800px) {
  .menu__button {
    order: -1;
    display: block;
    border: none;
    width: 5.4rem;
    height: 2.9rem;
    background: transparent;
  }
}

@media (max-width: 480px) {
  .menu__button {
    width: 3.9rem;
  }
}
