.faq__title {
  margin: 0 0 5rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .faq__title {
    margin: 0 0 2.6rem;
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 800px) {
  .faq__title {
    margin: 0 0 3rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}

@media (max-width: 480px) {
  .faq__title {
    margin: 0 0 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
