.blockquote {
  margin: 0;
}

.blockquote__text {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.blockquote__text:before, .blockquote__text:after {
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: #6C0287;
}

.blockquote__text:before {
  content: "“";
  position: absolute;
  left: 0;
}

.blockquote__text:after {
  content: "”";
}
