.contacts {
  padding-top: 50px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 156px;
}

.contacts__address, .contacts__phone, .contacts__email {
  position: relative;
  margin: 0;
  padding-left: 65px;
}

.contacts__address {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 35px;
  width: 300px;
}

.contacts__phone {
  margin-bottom: 11px;
  transition: color .2s linear;
}

.contacts__phone:hover {
  color: #CD06FF;
}

.contacts__email {
  transition: color .2s linear;
}

.contacts__email:hover {
  color: #CD06FF;
}

.contacts__link {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

.contacts__address:before, .contacts__phone:before, .contacts__email:before {
  position: absolute;
  left: 0;
  width: 35px;
  height: 32px;
}

.contacts__address:before {
  top: 0.5em;
  content: url("../../assets/img/icons/map.svg");
}

.contacts__phone:before {
  content: url("../../assets/img/icons/phone.svg");
}

.contacts__email:before {
  content: url("../../assets/img/icons/mail.svg");
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.contacts__copyright-text {
  flex-basis: 157px;
}

.contacts__copyright-text--align-right {
  text-align: right;
}

.contacts__copyright-email {
  transition: color .2s linear;
}

.contacts__copyright-email:hover {
  color: #CD06FF;
}
