.form__container--size-medium {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.form__fieldset-lounges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.form__fieldset-entertainments {
  width: 980px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
}

.form__fieldset-details {
  width: 980px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 50px;
}

.form__fieldset--direction-column {
  display: flex;
  flex-direction: column;
}

.form__block--direction-column {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.form__block--data-person {
  flex-basis: 280px;
}

.form__block--data-datetime {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 36px;
}

.form__block--data-contacts {
  width: 300px;
}

.form__legend {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.form__block-legend {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.form__input-row {
  display: flex;
  align-items: center;
}

.form__input-row:not(:last-child) {
  margin-bottom: 20px;
}

.form__input--type-text {
  min-width: 100%;
}

.form__input--type-date {
  flex-basis: 134px;
  min-width: 0;
}

.form__input--type-time {
  flex-basis: 134px;
  min-width: 0;
}

.form__input--type-number {
  flex-basis: 100%;
}

.form__input--type-radio {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition: outline .2s linear;
}

.form__input--type-radio:focus {
  outline: 1px solid #CD06FF;
}

.form__input--type-checkbox {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition: outline .2s linear;
}

.form__input--type-checkbox:focus {
  outline: 1px solid #CD06FF;
}

.form__input--type-text {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
  transition: outline .2s linear;
}

.form__input--type-text:focus {
  outline: 2px solid #CD06FF;
}

.form__input--type-text::placeholder {
  color: #211E1E;
}

.form__input--icon-arrow {
  background-image: url('../../assets/img/icons/input-arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 27px;
}

.form__label {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label--view-button {
  flex-basis: 250px;
  padding: 4px 12px 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s linear, border-color .2s linear, color .2s linear;
}

.form__label--view-button:hover {
  background-color: #EADEED;
  border-color: #640AA3;
}

.form__input--type-radio:focus + .form__label--view-button {
  background-color: #FFFFFF;
  border-color: #640AA3;
}

.form__label--view-button:active {
  background-color: #6C0287;
  border-color: #FFFFFF;
  color: var(--main-font-color);
}

.form__input--type-radio:checked + .form__label--view-button {
  background-color: #6C0287;
  border-color: #FFFFFF;
  color: var(--main-font-color);
}

.form__label--input-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.form__button {
  padding: 13px 47px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  transition: background-color .2s linear, border-color .2s linear;
}

.form__button:hover {
  background-color: #EADEED;
  border-color: #6C0287;
}

.form__button:focus {
  background-color: #FFFFFF;
  border-color: #6C0287;
}

.form__button:active {
  background-color: #EADEED;
  border-color: #EADEED;
}
