.navigation {

}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navigation__item {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  transition: color .2s linear;
}

.navigation__link:hover {
  color: #CD06FF;
}
