.reviews__avatar-title {
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--color-white);
  text-align: center;
}

@media (max-width: 1200px) {
  .reviews__avatar-title {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

@media (max-width: 800px) {
  .reviews__avatar-title {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media (max-width: 480px) {
  .reviews__avatar-title {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
